@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.card{
  margin: 5px !important;
}

.text-default-green{
  color: #013A2F;
}

.text-default-gold{
  color: #F1BB1B;
}

.bg-default-green{
  background-color: #013A2F;
}

.bg-default-gold{
  background-color: #F1BB1B;
}

.hide-header{
  height: 0;
  opacity: 0;
}

 .active-header {
   position: fixed;
   height: 60px;
   top: 0;
   right: 0;
   left: 0;
   z-index: 999;
   opacity: 1;
   transition: height 0.6s ease-out;
  transition: opacity 0.6s ease-out;
 }

.auth-screen{
  height: calc(100vh - 56px);
}


.scrollbar-hide::-webkit-scrollbar {
  width: 0 !important;
}

.notification-badge{
  top: -5px;
  right: -10px;
}

/* Radio buttons */
input[type="radio"]:checked {
  border-color: #F1BB1B;
  /* Change border color to blue when checked */
}

input[type="radio"]:checked::before {
  content: "";
  /* This is used to create the dot inside the radio button */
  display: block;
  width: 0.75rem;
  height: 0.75rem;
  background-color: #F1BB1B;
  /* Color of the dot when radio input is checked */
  border-radius: 50%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.content-type input[type="radio"]:checked {
  border-color: #F1BB1B;
  /* Change border color to blue when checked */
}

.content-type input[type="radio"]:checked::before {
    background-color: #F1BB1B;
}
/* Radio buttons */
/* Article Page */


/* Article Page */


@media (max-width: 768px){
  .active-header{
    height: 90px;
  }

  .auth-screen{
    height: 100vh;
  }
}